nav.navbar-findcond {
    background: #f2f2f2;
    border-color: #ccc;
}

.container {
    width: 900px;
}
.navbar-brand {
    margin: 0;
}

nav.navbar-findcond a {
    color: #4aa9fb;
}

nav.navbar-findcond ul.navbar-nav a {
    color: #4aa9fb;
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: #fff;
}

nav.navbar-findcond ul.navbar-nav a:hover,
nav.navbar-findcond ul.navbar-nav a:visited,
nav.navbar-findcond ul.navbar-nav a:focus,
nav.navbar-findcond ul.navbar-nav a:active {
    background: #fff;
}

nav.navbar-findcond ul.navbar-nav a:hover {
    border-color: #4aa9fb;
}

nav.navbar-findcond li.divider {
    background: #ccc;
}

nav.navbar-findcond button.navbar-toggle {
    background: #4aa9fb;
    border-radius: 2px;
}

nav.navbar-findcond button.navbar-toggle:hover {
    background: #999;
}

nav.navbar-findcond button.navbar-toggle > span.icon-bar {
    background: #fff;
}

nav.navbar-findcond ul.dropdown-menu {
    border: 0;
    background: #fff;
    border-radius: 4px;
    margin: 4px 0;
    box-shadow: 0 0 4px 0 #ccc;
}

nav.navbar-findcond ul.dropdown-menu > li > a {
    color: #444;
}

nav.navbar-findcond ul.dropdown-menu > li > a:hover {
    background: #4aa9fb;
    color: #fff;
}

nav.navbar-findcond span.badge {
    background: #4aa9fb;
    font-weight: normal;
    font-size: 11px;
    margin: 0 4px;
}
