<div class="left">
    <a href="/"><div class="item" id="sidebar-header">
        <span class="glyphicon glyphicon-globe"></span>
        Home
    </div></a>

    <div class="item active">
        <span class="glyphicon glyphicon-comment"></span>
        Add new task
    </div>

    <div class="item active">
        <span class="glyphicon glyphicon-info-sign" data-toggle="modal" data-target="#myModal"></span>
        About application
    </div>

    <div class="item active" ng-click="vm.itemClick($event)">

        <span class="glyphicon glyphicon-refresh"></span>
        Reload Application
    </div>
</div>

