td, th {
    vertical-align: middle !important;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
.left, .right {
    float:left;
    height:100vh;
}

.left {
    background: #323232;
    display: inline-block;
    white-space: nowrap;
    width: 50px;
    transition: width 1s ;
    z-index: 1000;
}

#sidebar-header{
    font-weight: bold;
}
.item {
    border-bottom: 1px solid #232323;
    background-color: #3c3c3c;
    margin-top: 2px;
}

.sidebar-header {
    font-weight: bold;
    z-index: 1001;
}

.left:hover {
    width: 250px;
}

.item:hover {
    background-color:#3e6eff;
}

.left .glyphicon {
    margin:15px;
    width:20px;
    color:#fff;
}

.right .glyphicon {
    color:#a9a9a9;
}
span.glyphicon.glyphicon-refresh{

}

.item {
    height:50px;
    overflow:hidden;
    color:#fff;
}
.title {
    background-color:#eee;
    border-style:solid;
    border-color:#ccc;
    border-width:1px;
    box-sizing: border-box;
}
.search:hover {
    border-color:#4aa9fb;
    border-width:1px;
}
.search {
    padding:3px 8px 3px !important;
}
input[type=search] {
    padding: 10px 0px 10px;
    border: 0px solid #fff;
    background: #eee;
    -webkit-appearance: none;
    width:90%;
    float:none;
}
input[type=search]:focus {
    outline:none;
}
.type{
    height: 47px;
}
.date{
    background-color:#f7f7f7
}
.docdate {
    vertical-align:bottom !important;
}
.distr {
    margin: 0 0 5px;
    font-size: 12px;
}
.ndoc {
    margin: 0 0 5px;
}
.storage {
    margin: 0;
    color: #aaa !important;
    font-size: 12px;
}





